################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmailTester/appsettings.Development.json
/.vs
/EmailTester/bin/Debug/net8.0-windows
/EmailTester/obj
/appsettings.Development.json
